$primary: hsl(243, 87%, 12%);
$primary-alt: hsl(238, 22%, 44%);

$accent: hsl(224, 93%, 58%);
$accent-alt: hsl(170, 45%, 43%);

$neutral: hsl(240, 75%, 98%);
$neutral-alt: hsl(0, 0%, 75%);

// Headings, CTA, header nav
h1,
h2,
h3,
nav {
  font-family: 'Raleway', sans-serif;
}

a:hover {
  opacity: 0.7;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  @media (min-width: 768px) {
    padding: 20px 50px;
  }
  @media (min-width: 900px) {
    padding: 20px 100px;
  }
  max-width: 1500px;
}

.email-input {
  transition: 0.2s ease-out;
  padding: 12px 20px;
  font-size: 0.8em;
  border: 1px solid $primary-alt;
  border-radius: 4px;
  width: 100%;
  max-width: 350px;
  outline: none;
  max-height: 40px;
  &::placeholder {
    color: $neutral-alt;
  }
  &:focus {
    border: 1px solid $accent;
  }
}

.button-primary {
  transition: 0.2s ease-out;
  background: $accent;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  color: $neutral;
  font-weight: 700;
  font-size: 0.8em;
  max-height: 40px;
  &:hover {
    background: $accent-alt;
  }
}

.mw-350-sm {
  margin: 0 auto;
  max-width: 300px;
  @media (min-width: 1200px) {
    max-width: 100%;
  }
}

.shadow-sm {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
}

.shadow-md {
  box-shadow: 3px 7px 8px rgba(0, 0, 0, 0.1);
}
