@import '../../styles/variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  color: $primary;
  img {
    width: 60px;
    height: auto;
  }
  aside {
    ul {
      display: flex;
      li {
        font-size: 0.8em;
        padding: 0 1em;
        cursor: pointer;
      }
    }
  }
  @media (min-width: 330px) {
    img {
      width: 75px;
    }
  }
  @media (min-width: 600px) {
    img {
      width: 120px;
    }
    aside {
      font-size: 1.1em;
    }
  }
}
