@import '../../styles/variables.scss';
.earlyaccess {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1.25em;
    color: $neutral;
    margin-bottom: 20px;
  }
  h4 {
    color: $neutral;
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  #earlyInput {
    margin: 0 auto;
    max-width: 270px;
    margin-bottom: 10px;
  }
  #earlyBtn {
    margin: 0 auto;
    max-width: 270px;
  }
  &-wrapper {
    background: $primary-alt;
    padding: 70px 0;
  }
  &-actions {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    &-text {
      text-align: left;
      font-size: 1.1em;
    }
    &-actions {
      width: 100%;
      margin-left: 200px;
      #earlyInput {
        max-width: 400px;
        margin: 10px 0;
      }
      #earlyBtn {
        width: 150px;
        margin: 0;
      }
    }
  }
}
